body{
    background-color: rgb(238, 103, 103);
    font: normal 15pt arial; /*muda a font*/
    }
    header{
        color: rgb(152, 208, 223);
       text-align: center; /*posiciona no centro*/
    }
    section{
        background-color: white; /*cor do fundo*/
        border-radius: 10px; /* Arredonda as bosdas*/
        padding: 15px; /* Almenta a tamanho da div*/
        width: 450px; /*diminui a larguda da direita para esquerca*/
        margin: auto; /* centraliza a div*/
        box-shadow: 5px 5px 5px rgb(44, 16, 16); /*cria uma sobra ao redor da div*/
        top: auto;
    
    }
    footer{
        color: black;
        text-align: center;
        font-style: italic; /*muda o teste para italuco*/
    }
    #foto{
        text-align: center;
        padding: 2px;
    }
    #msg{
        text-align: center;
        font-size: 20px;
    }
    